[submodule "GWCA"]
	path = external/GWCA
	url = https://github.com/GregLando113/GWCA.git
[submodule "ImGui"]
	path = external/ImGui
	url = https://github.com/ocornut/ImGui.git
[submodule "json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
